<p id="notice"><%= notice %></p>


    <section id="faqs" class="container">
        
         <% if user_signed_in? %>
          <h5><%= link_to 'Create New Article', new_article_path %></h5>
    
         <% end %>
         
           <% @articles.each do |article| %>

             
                
                  <div class="row">
                    <div class="col-md-4">
                      <%= image_tag article.avator.url("medium")%>
                    </div>
                    <div class="col-md-8">
                     <h1><%= article.title %></h1>
                      <p class="well">
                        <%= truncate(article.description,:length =>500) %>
                        <%= link_to 'read more', article, :class => "btn btn-xs btn-info" %>
                      </p>
                      <p >
                       <h6 class ="jumbotron"> <%= article.code_snippet_text%></h6>
                      </p>
                      
                    </div>
                     </div>
                      <p><%= paginate @articles %></p>
                      <%if user_signed_in?%>
                     <%= link_to 'Comment', new_comment_path %>
                     <% end %>
                  </div>
           
            <% end %>
            

</section>
