
    <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
         
          
           
     
            </div>
          
    <div class="collapse navbar-collapse">
      <%= link_to 'Codefellowship', root_path, :class =>"navbar-brand" %>
       <ul class="nav navbar-nav navbar-left">

                <li class="navbar-form navbar-left"role="search" >
                    <%= form_tag(articles_path, :method => 'get') do %> 
                     <p class="form-group" >
                        <%= text_field_tag(:search,params[:search])%> 
                        <button type="submit">search</button>
                      </p> 
                 <% end %>
                </li>
               
             </ul>
       
        <ul class="nav navbar-nav navbar-right">
                
                <li class="<%= 'active' if current_page?(root_path)%>">
                <%=link_to 'Home',root_path %></li>
                <li class="<%= 'active' if current_page?(pages_about_path)%>">
                <%= link_to 'About Us', pages_about_path %></li>
                <li class="<%= 'active' if current_page?(pages_services_path)%>">
                <%= link_to 'Services',pages_services_path%></li>
                <li class="<%= 'active' if current_page?(pages_contact_path)%>">
                <%= link_to 'Contact', pages_contact_path%></li>
                 
        </ul>
        <ul class="nav navbar-nav  navbar-right">
            <li class="<%= 'active' if current_page?(new_user_session_path)%>"><%= link_to 'Sign in', new_user_session_path %></li>
            <li class="<%= 'active' if current_page?(new_user_registration_path)%>"><%= link_to 'Sign Up', new_user_registration_path %>
            </li>
                
        </ul>
        </div>
     </div>
</header><!--/header-->

  